html  {
 	width: 100%;
 	height: 100%;
 	margin: 0px;
 	padding: 0px;
 	overflow-x: hidden; 
 }
 nav ul li {
 	padding-left: 30px;
 }

 nav ul li a: hover {

 	color: pink;
 	/*transition: all 0.2s ease-in; */
 	-webkit-transition: all 0.2s ease-in;
 	-moz-transition: all 0.2s ease-in;
 	-o-transition: all 0.2s ease-in;
 }

 .nav-link:hover {
 	color: #c2a35e !important;
 }

 .nav-link{
 	color: #004f16;
 }


 .navbar-custom {
 	color: lightgreen;

 }
 /* Modify brand and text color */

 .navbar-custom .navbar-brand,
 .navbar-custom .navbar-text {
 	color: green;
 }


 .dropdown-item:focus, .dropdown-item:hover {
 	color: #ba9a57;
 	background-color: #e9ecef;
 }

 /* background colors */

 .bg-dark{
 	background-color: #c0bebe !important;
 }

 .bg-green{
 	background-color: #004f16;
 }

 .bg-gray{
 	background-color: #cecdd0;
 }

/* Testimonials */

.testimonial-section{
	background-color: none;    
}
.testi-img .img-box{
	max-width: 360px;
	margin:auto;
	text-align: center;
	position: relative;
}
.testi-img .circle{
	height: 360px;
	width: 360px;
	background-color: #fb9c9a;
	position: absolute;
	border-radius: 50%;
	left: 0;
	bottom: 0;
	transition: all 0.5s ease;
}
.testi-img .img-box-inner{
	position: relative;
	border-radius: 0 0 180px 180px;
	overflow:hidden;
}
.testi-img .img-box-inner img{
	max-width: 310px;
}
.testimonial-section .carousel-inner{
	margin-bottom: 20px;
}
.testimonial-section .carousel-control-prev{
	margin-right: 10px;
}
.testimonial-section .carousel-control-next, 
.testimonial-section .carousel-control-prev{
	position: relative;
	height: 35px;
	width: 35px;
	background-color: #c2a35e;   
	display: inline-flex;
	border-radius: 50%;
}
.testimonial-section .carousel-control-prev img,
.testimonial-section .carousel-control-next img{
	width: 15px;
}
.testi-item h3,
.testi-item p{
	font-size: 18px;
}
.testi-item h3{
	text-transform: capitalize;
}

/* Responsive */
@media(max-width:991px){
	.testi-img .img-box{
		max-width: 300px;
	}
	.testi-img .circle{
		height: 300px;
		width: 300px;
	}
	.testi-img .img-box-inner{
		border-radius: 0 0 150px 150px;
	}
	.testi-img .img-box-inner img{
		max-width: 230px;
	}
}
@media(max-width:767px){
	.testi-img{
		margin-bottom: 25px;
	}
}
/* NewsLetter */
.card {
	background-color: #f5f8f7;
}

.txt {
	font-size: 24px;
	font-color: #ffffff;
}

.border-rad {
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	color: #fff;
	background-color: #f9a826;
	border-color: #f9a826
}

.border-white {
	color: #ffffff;
	border-color: #ffffff;
}

.border-rad:hover {
	background-color: #c2a35e;
	border-color: #c2a35e
}


footer {
	background-color: #E6D88A;
}


/* Page banner individuals */

.page-header-aboutus  {
    background: url(img/AboutUs/About-Us-banner.png) no-repeat;
    padding: 70px 0;
    margin-top: 50px;
}

.page-header-service{
	background: url(img/Service/banner.png) no-repeat;
    padding: 70px 0;
    margin-top: 50px;
    
}

.page-header-career{
	background: url(img/Career/banner.png) no-repeat;
	padding: 70px 0;
    margin-top: 50px;
}

.page-header-contactus{
	background: url(img/ContactUs/banner.png) no-repeat;
	padding: 70px 0;
    margin-top: 50px;
}

.page-header-volunteer {
	background: url(img/volunteer/volunteersbanner.png) no-repeat;
	padding: 70px 0;
    margin-top: 50px;
}

.page-header-pmrinews {
	background: url(img/news/news.png);
	padding: 70px 0;
	margin-top: 50px;


}
.page-header h1 {
    color: #004f16;
}


.dropdown:hover .dropdown-menu {
	display: block;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.txtalign {
	text-align: justify-all;
}

.service p {
  margin: 0;

  text-align: justify;
}


#module {
  width: 500px;
}

#module p.collapse[aria-expanded="false"] {
    display: block;
    height: 40px !important;
    overflow: hidden;
}

#module p.collapsing[aria-expanded="false"] {
    height: 40px !important;
}

#module a.collapsed:after  {
    content: '+ Show More';
}

#module a:not(.collapsed):after {
    content: '- Show Less';
}

#info{ 
width:100%; 
} 
#text{ 
width:100%;  
height:4vh;  
overflow:hidden;  
font-size:18px; 
text-align: justify; 
} 
#collapse{ 
display:none; 
} 

.tab-content p{
	text-align: justify;
}

.hiring p{
	color: #004f16;
	text-align: center;
}

.text-green {
	color: #004f16;
	text-decoration: none;
}

.btn-apply {
	background-color: #004f16;
	color: #c2a35e;
}

.nav-tabs a:hover {
	background-color: #004f16;
}

.nav-tabs nav-link {
	background-color: #004f16;
}

.nav-tabs nav-link.active {
	background-color: #004f16;
}

/* Contact Us page */ 

.container {
    transform-style: preserve-3d
}

.container .box {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer
}

.container .box .body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease
}

.container .box .body .imgContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d
}

.container .box .body .imgContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.container .box .body .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg)
}

.container .box:hover .body {
    transform: rotateY(180deg)
}

.container .box .body .content div {
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(35deg, #004f16, #c2a35e);
    transform: translateZ(100px);
}

.content a{
	text-decoration: none;
	color: #f8f9fa !important;
}

.container .box .body .content div h3 {
    letter-spacing: 1px
}

.btn-contact {
	background-color: #c2a35e;
}

.card p{
	text-align: justify;
}

.FAQ a:hover {

	color: green !important;
}

.card {
    border: none;
    height: 100%
}

.forms-inputs {
    position: relative
}

.forms-inputs span {
    position: absolute;
    top: -18px;
    left: 10px;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 15px
}

.forms-inputs input {
    height: 50px;
    border: 2px solid #eee
}

.forms-inputs input:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid #000
}

.success-data {
    display: flex;
    flex-direction: column
}

.bxs-badge-check {
    font-size: 90px
}

.btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width:50%;
    background-color: #C2A35E;

}

.img1 {
	background-image: url("img/slider.png");
}

.bg-image {
	height: 50%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bg-gray{
	background-color: #d5d4d2;
}

.mov {
  position: relative;
  
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.7);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;

}

.mov:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.cir {
position: relative;
width: 85%;
}

.ciroverlay {
	
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.7);
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.cir:hover .ciroverlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.animated-circle.arrow  {
	background: url('img/volunteer/ac-arrow.svg') center no-repeat !important;
	content: '';
	display: block;
	height: 27px;
	position: absolute;
	right: -55px;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	width: 39px;
	top: 50%;
}

.animated-circle.arrow:hover {
	-webkit-transform: translateX(5px);
	-ms-transform: translateX(5px);
	transform: translateX(5px);
}

.text-cards {
  color: black;
  font-size: 25px;
  position: absolute;
  font-weight: bold;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}