html  {
 	width: 100%;
 	height: 100%;
 	margin: 0px;
 	padding: 0px;
 	overflow-x: hidden; 
 }

 nav ul li {
 	padding-left: 30px;
 }

 nav ul li a: hover {

 	color: pink;
 	/*transition: all 0.2s ease-in; */
 	-webkit-transition: all 0.2s ease-in;
 	-moz-transition: all 0.2s ease-in;
 	-o-transition: all 0.2s ease-in;
 }

 .nav-link:hover {
 	color: #c2a35e !important;
 }

 .nav-link{
 	color: #004f16;
 }


 .navbar-custom {
 	color: lightgreen;

 }
 /* Modify brand and text color */

 .navbar-custom .navbar-brand,
 .navbar-custom .navbar-text {
 	color: green;
 }


 .dropdown-item:focus, .dropdown-item:hover {
 	color: #ba9a57;
 	background-color: #e9ecef;
 }

 /* background colors */

 .bg-dark{
 	background-color: #c0bebe !important;
 }

 .bg-green{
 	background-color: #004f16;
 }

 .bg-gray{
 	background-color: #cecdd0;
 }

/* Testimonials */

.testimonial-section{
	background-color: none;    
}
.testi-img .img-box{
	max-width: 215px;
	margin:auto;
	text-align: center;
	position: relative;
}
.testi-img .circle{
	height: 215px;
	width: 215px;
	background-color: #fb9c9a;
	position: absolute;
	border-radius: 50%;
	left: 0;
	bottom: 0;
	transition: all 0.5s ease;
}
.testi-img .img-box-inner{
	position: relative;
	border-radius: 0 0 180px 180px;
	overflow:hidden;
}
.testi-img .img-box-inner img{
	max-width: 310px;
}
.testimonial-section .carousel-inner{
	margin-bottom: 20px;
}
.testimonial-section .carousel-control-prev{
	margin-right: 10px;
}
.testimonial-section .carousel-control-next, 
.testimonial-section .carousel-control-prev{
	position: relative;
	height: 35px;
	width: 35px;
	background-color: #c2a35e;   
	display: inline-flex;
	border-radius: 50%;
}
.testimonial-section .carousel-control-prev img,
.testimonial-section .carousel-control-next img{
	width: 15px;
}
.testi-item h3,
.testi-item p{
	font-size: 18px;
}
.testi-item h3{
	text-transform: capitalize;
}

/* Responsive */
@media(max-width:1080px){
	.testi-img .img-box{
		max-width: 300px;
	}
	.testi-img .circle{
		height: 300px;
		width: 300px;
	}
	.testi-img .img-box-inner{
		border-radius: 0 0 150px 150px;
	}
	.testi-img .img-box-inner img{
		max-width: 230px;
	}
}
@media(max-width:1080px){
	.testi-img{
		margin-bottom: 25px;
	}
}
/* NewsLetter */
.card {
	background-color: #f5f8f7;
}

.txt {
	font-size: 24px;
	font-color: #ffffff;
}

.border-rad {
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	color: #fff;
	background-color: #f9a826;
	border-color: #f9a826
}

.border-white {
	color: #ffffff;
	border-color: #ffffff;
}

.border-rad:hover {
	background-color: #c2a35e;
	border-color: #c2a35e
}


footer {
	background-color: #E6D88A;
}

.page-header-pmrinews {
	background: url(img/news/news.png);
	padding: 70px 0;
	margin-top: 50px;


}
.page-header h1 {
    color: #004f16;
}


.dropdown:hover .dropdown-menu {
	display: block;
}

.bottom-left {
    position: absolute;
    top: 95px;
    left: 200px;
}

.txtalign {
	text-align: justify-all;
}

.service p {
  margin: 0;
  text-align: justify;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

#service p{
  
  font-size: 45px;
  font-family: 'Open Sans', sans-serif;
 
}

#module {
  width: 500px;
}

#module p.collapse[aria-expanded="false"] {
    display: block;
    height: 40px !important;
    overflow: hidden;
}

#module p.collapsing[aria-expanded="false"] {
    height: 40px !important;
}

#module a.collapsed:after  {
    content: '+ Show More';
}

#module a:not(.collapsed):after {
    content: '- Show Less';
}

#info{ 
width:100%; 
} 
#text{ 
width:100%;  
height:4vh;  
overflow:hidden;  
font-size:18px; 
text-align: justify; 
} 
#collapse{ 
display:none; 
} 

.tab-content p{
	text-align: justify;
}

.hiring p{
	color: #004f16;
	text-align: center;
}

.text-green {
	color: #004f16;
	text-decoration: none;
}

.btn-apply {
	background-color: #004f16;
	color: #c2a35e;
}

.nav-tabs a:hover {
	background-color: #004f16;
}

.nav-tabs nav-link {
	background-color: #004f16;
}

.nav-tabs nav-link.active {
	background-color: #004f16;
}

/* Contact Us page */ 

.container {
    transform-style: preserve-3d
}

.container .box {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer
}

.container .box .body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease
}

.container .box .body .imgContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d
}

.container .box .body .imgContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.container .box .body .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg)
}

.container .box:hover .body {
    transform: rotateY(180deg)
}

.container .box .body .content div {
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(35deg, #004f16, #c2a35e);
    transform: translateZ(100px);
}

.content a{
	text-decoration: none;
	color: #f8f9fa !important;
}

.container .box .body .content div h3 {
    letter-spacing: 1px
}

.btn-contact {
	background-color: #c2a35e;
}

.card p{
	text-align: justify;
}

.FAQ a:hover {

	color: green !important;
}

.card {
    border: none;
    height: 100%
}

.forms-inputs {
    position: relative
}

.forms-inputs span {
    position: absolute;
    top: -18px;
    left: 10px;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 15px
}

.forms-inputs input {
    height: 50px;
    border: 2px solid #eee
}

.forms-inputs input:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid #000
}

.success-data {
    display: flex;
    flex-direction: column
}

.bxs-badge-check {
    font-size: 90px
}

.btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width:50%;
    background-color: #C2A35E;

}

.img1 {
	background-image: url("img/slider.png");
}

.bg-image {
	height: 50%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bg-gray{
	background-color: #d5d4d2;
}

.mov {
  position: relative;
  
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.7);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.mov:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.block p{
     color: #595756;
  font-size: 22px;
  position: absolute;
  margin: 0;
  -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  line-height: 1.2;
  text-align: justify-all;
  text-align: center;
}

.cir {
position: relative;
width: 85%;
}

.ciroverlay {
	
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #d5d4d2;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.cir:hover .ciroverlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;

}

.animated-circle.arrow  {
	background: url('img/volunteer/ac-arrow.svg') center no-repeat !important;
	content: '';
	display: block;
	height: 27px;
	position: absolute;
	right: -55px;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	width: 39px;
	top: 50%;
}

.cir:hover .animated-circle.arrow {
	-webkit-transform: translateX(5px);
	-ms-transform: translateX(5px);
	transform: translateX(5px);
}

.text-cards {
  color: black;
  font-size: 25px;
  position: absolute;
  font-weight: bold;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}


/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}*/

/*.content {
    width: 100vw;
    min-height: 100vh
} */

 .spin {
    padding-top: 30px;
    padding-bottom: 20px;
    box-shadow: 2px 15px 20px #1f1f1f10, -2px -8px 20px #1f1f1f1a
} 

.spin .rollers {
    flex: 0 0 230px
}

.spin .start-roller {
    left: 0;
    top: 0;
    background-image: linear-gradient(to right, white 30%, #ffffff00)
}

.spin .start-roller,
.spin .end-roller {
    height: 100%;
    width: 40px;
    position: absolute;
    z-index: 1
}

.spin .end-roller {
    right: 0;
    top: 0;
    background-image: linear-gradient(to left, white 30%, rgba(255, 255, 255, 0))
}

.spin .rollers .wrapper {
    position: relative;
    width: 1400px;
    height: 100px;
    margin: 0 0 20px 0;
    flex: 0 0 auto
}

.spin .rollers .wrapper .items-container {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

.spin .rollers .wrapper .items-container.roll-LL {
    animation-name: roll
}

.spin .rollers .wrapper .items-container.roll-RL {
    animation-name: roll-reverse;
    left: 100%
}

.spin .rollers .wrapper .items-container.reverse-roll-LL {
    animation-name: roll-clockwise;
    left: -100%
}

.spin .rollers .wrapper .items-container.reverse-roll-RL {
    animation-name: roll-reverse-clockwise;
    left: 100%
}

@keyframes roll {
    0% {
        left: 0%
    }

    100% {
        left: -100%
    }
}


@keyframes roll-reverse {
    0% {
        left: 100%
    }

    100% {
        left: 0%
    }
}

@keyframes roll-clockwise {
    0% {
        left: -100%
    }

    100% {
        left: 0%
    }
}

@keyframes roll-reverse-clockwise {
    0% {
        left: 0%
    }

    100% {
        left: 100%
    }
}

.spin .rollers .wrapper .items-container .item {
    flex: 1 1 200px;
    min-width: 0;
    margin: 20px
}

.spin .rollers .wrapper .items-container .item .company {
    filter: grayscale(100%);
    opacity: 0.2;
    width: 100%;
    object-fit: contain
}

.spin .rollers .wrapper .items-container .item .company:hover {
    filter: grayscale(0%);
    opacity: 1;
    cursor: pointer
}

.spin img {
    vertical-align: middle
}

@media (max-width: 575.5px) {
    .content {
        padding: 20px
    }

    .content .spin {
        padding: 20px
    }

    .h3 {
        font-size: calc(1.1rem + .6vw)
    }

    .fs-5 {
        font-size: 0.9rem !important
    }

    .spin .rollers .wrapper .items-container .item .company {
        opacity: 0.4
    }
}

/* chat- pop up */

span {
    padding-right: 15px;
    padding-left: 15px;
}

.container {
    
  justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;   
}
.flex{
    display: flex;
}

.chat {
    height: 500px;
    
    display: flex;
    flex-direction: column;
  justify-content: center;
    align-items: center;
} 

::-webkit-input-placeholder { 
    color: .711 
}
 
input { 
    border: 0; 
    padding: 15px; 
    margin-left: auto;
    
    width: 100%; 
    border-color: black;
}

.messages {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 350px;
    width: 100%;
    border-radius: 10px;
}

#bot {
    margin-left: auto;
}

.bot {
    font-family: Consolas, 'Courier New', Menlo, source-code-pro, Monaco,  
    monospace;
}

.avatar {
    height: 25px;
}

.response {
    display: flex;
    align-items: center;
    margin: 1%;
}


/* Mobile */

@media only screen and (max-width: 980px) {
  .container {
        flex-direction: column; 
        justify-content: flex-start;
    }
    
}

/* UI */
.chat-btn {
    position: fixed;
    right: 14px;
    bottom: 30px;
    cursor: pointer
}

.chat-btn .close {
    display: none
}

.chat-btn i {
    transition: all 0.9s ease
}

#check:checked~.chat-btn i {
    display: block;
    pointer-events: auto;
    transform: rotate(180deg)
}

#check:checked~.chat-btn .comment {
    display: none
}

.chat-btn i {
    font-size: 22px;
    color: white; !important
}

.chat-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: green;
    color: white;
    font-size: 22px;
    border: none
}

.chatblock {
    position: fixed;
    right: 40px;
    bottom: 100px;
    width: 300px;
    height: 550px;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.4s
}

#check:checked~.chatblock {
    opacity: 1
}

.header {
    padding: 13px;
    background-color: green;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
    color: white;
}

.chat-form {
    padding: 15px
}

.chat-form textarea {
    resize: none
}

.form-control:focus,
.btn:focus {
    box-shadow: none
}

#check {
    display: none !important
}

/* Text scroll shown */


section{
  /*min-height: 300px;*/
 /* height: 300px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
/*section:nth-child(1){
  color: #e0ffff;
  }
section:nth-child(2){
  color: #42455a;
  background: #e0ffff;
} 
section:nth-child(3){
  color: #e0ffff;
}
section:nth-child(4){
  color: #42455a;
  background: #e0ffff;
}*/
section .container{
  margin: 100px;
}
section h1{
  font-size: 3rem;
  margin: 20px;
}
section h2{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container{
   display: flex;
}
section .text-container .text-box{
  margin: 20px;
  padding: 20px;
  background: #00c2cb;
}
section .text-container .text-box h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 1080px){
  section h1{
    font-size: 2rem;
    text-align: center;
  }
  section .text-container{
    flex-direction: column;
  }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}


/*study page */

.study-id {
    background-color: #247928;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 22px;
    padding: 4px 0;
}


.study-divider {
    border: 2px dotted #008F9C;
    border-width: 2px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 15px 9px;
    padding: 10px 5px;
}

.study-check-in {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0;
    padding: 5px 0 0;
}


.study{
  position: relative;
  width: 100%; 
}

.card-study {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  /*max-width: 500PX;*/
  text-align: center;
  margin: 25px;
}


sign-up:hover, a:hover {
  opacity: 0.7;
}

.sign-up a {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;

}

.study-needed {
    font-size: 18px ;
    padding: 15px;
    margin: 15px;
}

/* Glass Box */


:root {
  /*--src: url(img/volunteer/FAQ3.jpg);*/
  --src: url(img/volunteer/FAQ4.jpg);
  --size: 250px;
  --space: 8vmin;
  --duration: 300ms;
  --ease-out: cubic-bezier(0.25, 1, 0.5, 1);
  --bounce-out: cubic-bezier(0.34, 1.56, 0.64, 1);
}

* {
  box-sizing: border-box;
}

.promo {
  position: relative;
  cursor: pointer;
  width: var(--size);
  height: var(--size);
  padding-left: 180px;
}

.title {
  --font-size: calc(var(--size) / 5);

  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 1.2;
  white-space: nowrap;
  transform: translate(-10%, -50%);
  transition: transform var(--duration) var(--ease-out);
  pointer-events: none;
}

.title::after {
  content: attr(data-cta);
  display: inline-block;
  margin-left: 1.5vmin;
  font-size: calc(var(--font-size) / 3.25);
  font-weight: 400;
  letter-spacing: 0.125vmin;
  opacity: 0;
  transform: translateX(-25%);
  transition: transform var(--duration) var(--ease-out),
    opacity var(--duration) var(--ease-out);
}

.image-wrapper {
  width: var(--size);
  height: var(--size);
  overflow: hidden;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
  transition: transform var(--duration) var(--ease-out),
    clip-path var(--duration) var(--ease-out);
    position: absolute;
}

.image-wrapper img {
  position: relative;
  width: 120%;
  height: 100%;
  object-fit: cover;
  transform: translateX(-10%);
  transition: transform var(--duration) var(--ease-out);
}

.image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  mix-blend-mode: multiply;
  opacity: 0;
  transform: translateZ(0);
  transition: opacity var(--duration) var(--ease-out);
}

.promo:hover img {
  transform: translateX(0);
}

.promo:hover .image-wrapper {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  transform: translateX(25%);
  transition-timing-function: var(--bounce-out);
}

.promo:hover .title {
  transform: translate(5%, -50%);
  transition-timing-function: var(--bounce-out);
}

.promo:hover .title::after {
  opacity: 1;
  transform: translateX(0);
  transition-timing-function: var(--bounce-out);
}

.promo:hover .image-wrapper::after {
  opacity: 1;
}


.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  text-align: justify-all;
  text-align: center;
}